<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nhập sinh viên</title>
</head>
<body>
<h2>Nhập thông tin sinh viên</h2>
<form th:action="@{/student/scope/save}" method="post" th:object="${sv}">

    <label>Họ tên:</label>
    <input type="text" th:field="*{name}"><br><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}"><br><br>

    <label>Điểm:</label>
    <input type="number" step="0.1" th:field="*{marks}"><br><br>

    <label>Ngành:</label>
    <input type="text" th:field="*{major}"><br><br>

    <button type="submit">Lưu</button>
</form>
</body>
</html>
